In [1]:
import pyforest

In [20]:
df = pd.read_csv("D:/Training-Phase2/Startup Hiring Monitor/Scraped_raw_data/Job_data.csv")
df.head()

,company_name,job_title,department,location,job_posted_url,scrape_date
0,Razorpay,Lead Analytics SpecialistNew,Product Analytics,Bengaluru,https://job-boards.greenhouse.io/razorpaysoftw...,2025-05-11
1,Razorpay,Senior Analytics SpecialistNew,Product Analytics,Bengaluru,https://job-boards.greenhouse.io/razorpaysoftw...,2025-05-11
2,Razorpay,Staff Analytics Specialist,Product Analytics,Bengaluru,https://job-boards.greenhouse.io/razorpaysoftw...,2025-05-11
3,Razorpay,Lead Solutions Engineer,Business Integration,Bengaluru,https://job-boards.greenhouse.io/razorpaysoftw...,2025-05-11
4,Razorpay,Software Engineering ManagerNew,Professional Services,Bengaluru,https://job-boards.greenhouse.io/razorpaysoftw...,2025-05-11

Department standardization

In [21]:
df['department'].unique()

array(['Product Analytics', 'Business Integration',
       'Professional Services', 'Solutions',
       'Technical Account Management', 'Tech Support Engineering',
       'Enterprise Sales', 'Core Finance', 'Group Compliance',
       'NIT Client Success', 'Channel Partnerships', 'HRBP', 'SME Sales',
       'Vigilance', 'Communication Design', 'Product Design', 'Backend',
       'Data Science', 'Quality Assurance',
       'Technical Program Management', 'Product Management', 'Operations',
       'Corporate and business strategy', 'Marketing', 'Store',
       'Business Analytics', 'Engineering', 'Devops', 'Finance',
       'Corporate Finance', 'Internal Controls', 'Investor Relations',
       'Legal', 'Tech', 'Fulfilment & Experience', 'Finance, Legal & PR',
       'Meesho Grocery', 'Business', 'TECHNOLOGY', 'Data', 'Analytics',
       'Design', 'Enabling', 'Growth', 'Hr', 'Legal, risk & compliance',
       'Operations & support', 'Product', 'Sales', 'Technology',
       'Sales - Sales Development', 'Sales - AE',
       'Marketing - PMM & Enablement',
       'Customer Support - L1 & L2 Support', 'Compliance',
       'Credit Assessment', nan, 'Risk', 'Strategy',
       'Growth (United States)', 'Growth India'], dtype=object)

In [22]:
department_mapping = {
    # Engineering
    'Engineering': 'Engineering', 'Backend': 'Engineering', 'Devops': 'Engineering',
    'Tech': 'Engineering', 'TECHNOLOGY': 'Engineering', 'Technology': 'Engineering',

    # Product
    'Product': 'Product', 'Product Design': 'Product', 'Product Management': 'Product',
    'Product Analytics': 'Product', 'Technical Program Management': 'Product',

    # Sales
    'Sales': 'Sales', 'Enterprise Sales': 'Sales', 'SME Sales': 'Sales',
    'Channel Partnerships': 'Sales', 'Sales - Sales Development': 'Sales',
    'Sales - AE': 'Sales', 'Business Integration': 'Sales',

    # Marketing
    'Marketing': 'Marketing', 'Marketing - PMM & Enablement': 'Marketing',
    'Communication Design': 'Marketing',

    # Design
    'Design': 'Design',

    # Data
    'Data': 'Data', 'Data Science': 'Data', 'Analytics': 'Data', 'Business Analytics': 'Data',

    # Finance
    'Finance': 'Finance', 'Corporate Finance': 'Finance', 'Core Finance': 'Finance',
    'Investor Relations': 'Finance', 'Finance, Legal & PR': 'Finance',

    # Legal
    'Legal': 'Legal', 'Legal, risk & compliance': 'Legal', 'Group Compliance': 'Legal',
    'Compliance': 'Legal', 'Risk': 'Legal',

    # HR
    'Hr': 'HR', 'HRBP': 'HR',

    # Customer Support
    'Tech Support Engineering': 'Customer Support',
    'Customer Support - L1 & L2 Support': 'Customer Support',
    'NIT Client Success': 'Customer Support',

    # Strategy
    'Strategy': 'Strategy', 'Corporate and business strategy': 'Strategy',

    # Operations
    'Operations': 'Operations', 'Fulfilment & Experience': 'Operations',
    'Operations & support': 'Operations', 'Meesho Grocery': 'Operations',
    'Store': 'Operations', 'Business': 'Operations',

    # Misc
    'Professional Services': 'Other',
    'Solutions': 'Other',
    'Internal Controls': 'Other',
    'Vigilance': 'Other',
    'Enabling': 'Other',
    'Growth': 'Other',
    'Growth India': 'Other',
    'Growth (United States)': 'Other',
    'Business Analytics': 'Data',
    'Credit Assessment': 'Other',
    'Unknown': 'Other',
    '': 'Other'
}

In [23]:
df['department'] = df['department'].map(department_mapping).fillna('Other')

In [24]:
df['department'].unique()

array(['Product', 'Sales', 'Other', 'Customer Support', 'Finance',
       'Legal', 'HR', 'Marketing', 'Engineering', 'Data', 'Operations',
       'Strategy', 'Design'], dtype=object)

Locations standardization

In [25]:
df['location'].unique()

array(['Bengaluru', 'Malaysia', 'Singapore', 'Ghaziabad', 'Hyderabad',
       'Mumbai', 'Delhi', 'Delhi NCR', 'Bangalore', 'Gurgaon', 'Noida',
       'Bareilly', 'Kottayam', 'Palghar', 'Prayagraj', 'Chennai',
       'Kozhikode', 'Amritsar', 'Pune', 'Jaipur', 'Lucknow',
       'Thiruvananthapuram', 'Delhi-ncr', 'Tirupati',
       'Salt Lake City - USA, US', 'Remote, US', 'Chennai - India, IN',
       'Bangalore South, Karnataka, India', 'Thane, Maharashtra, India',
       'Remote Job', 'jakarta, Jakarta Raya, Indonesia',
       'Mumbai, Maharashtra, India'], dtype=object)

In [26]:
location_mapping = {
    # India
    'Bangalore': 'Bengaluru, India',
    'Bengaluru': 'Bengaluru, India',
    'Bangalore South, Karnataka, India': 'Bengaluru, India',

    'Delhi': 'Delhi NCR, India',
    'Delhi NCR': 'Delhi NCR, India',
    'Delhi-ncr': 'Delhi NCR, India',
    'Gurgaon': 'Gurgaon, India',
    'Noida': 'Noida, India',
    'Ghaziabad': 'Ghaziabad, India',

    'Mumbai': 'Mumbai, India',
    'Mumbai, Maharashtra, India': 'Mumbai, India',
    'Thane, Maharashtra, India': 'Thane, India',
    'Palghar': 'Palghar, India',

    'Hyderabad': 'Hyderabad, India',
    'Chennai': 'Chennai, India',
    'Chennai - India, IN': 'Chennai, India',

    'Pune': 'Pune, India',
    'Jaipur': 'Jaipur, India',
    'Lucknow': 'Lucknow, India',
    'Bareilly': 'Bareilly, India',
    'Kozhikode': 'Kozhikode, India',
    'Kottayam': 'Kottayam, India',
    'Prayagraj': 'Prayagraj, India',
    'Amritsar': 'Amritsar, India',
    'Thiruvananthapuram': 'Thiruvananthapuram, India',
    'Tirupati': 'Tirupati, India',

    # International
    'Malaysia': 'Kuala Lumpur, Malaysia',
    'Singapore': 'Singapore, Singapore',
    'jakarta, Jakarta Raya, Indonesia': 'Jakarta, Indonesia',
    'Salt Lake City - USA, US': 'Salt Lake City, USA',
    'Remote, US': 'Remote, USA',

    # Remote
    'Remote Job': 'Remote, Global',

    # Catch-all
    '': 'Unknown',
}

In [27]:
def clean_location(loc):
    loc = str(loc).strip()
    return location_mapping.get(loc, 'Other')

df['location'] = df['location'].apply(clean_location)

In [28]:
df['location'].unique()

array(['Bengaluru, India', 'Kuala Lumpur, Malaysia',
       'Singapore, Singapore', 'Ghaziabad, India', 'Hyderabad, India',
       'Mumbai, India', 'Delhi NCR, India', 'Gurgaon, India',
       'Noida, India', 'Bareilly, India', 'Kottayam, India',
       'Palghar, India', 'Prayagraj, India', 'Chennai, India',
       'Kozhikode, India', 'Amritsar, India', 'Pune, India',
       'Jaipur, India', 'Lucknow, India', 'Thiruvananthapuram, India',
       'Tirupati, India', 'Salt Lake City, USA', 'Remote, USA',
       'Thane, India', 'Remote, Global', 'Jakarta, Indonesia'],
      dtype=object)

Checking date format

In [29]:
df["scrape_date"] = pd.to_datetime(df["scrape_date"]).dt.strftime("%Y-%m-%d")

In [30]:
df["scrape_date"].unique()

array(['2025-05-11'], dtype=object)

In [32]:
df.to_csv("cleaned_data.csv",index=False)

In [33]:
company_group = df.groupby("company_name")

In [35]:
summary = company_group.agg(
    total_roles=("job_title", "count"),
    remote_roles=("location", lambda x: x.str.contains("Remote", case=False, na=False).sum()),
    unique_departments=("department", "nunique"),
    product_roles=("job_title", lambda x: x.str.lower().str.contains("product").sum()),
    pm_roles=("job_title", lambda x: x.str.lower().str.contains("manager").sum()),
)

In [36]:
dept_counts = df.groupby(["company_name", "department"]).size().unstack(fill_value=0)
summary = summary.join(dept_counts, how="left")

In [37]:
def assign_tags(row):
    tags = []
    if row.get("Engineering", 0) >= 5:
        tags.append("Engineering Push")
    if row.get("Sales", 0) >= 3:
        tags.append("GTM Team Expansion")
    if row["remote_roles"] == row["total_roles"] and row["total_roles"] > 0:
        tags.append("Remote Hiring Focus")
    if row["product_roles"] > 0 and row["pm_roles"] > 0:
        tags.append("New Product Buildout")
    if row["unique_departments"] >= 4:
        tags.append("Company-Wide Scaling")
    return ", ".join(tags) if tags else "None"

In [38]:
summary["growth_tags"] = summary.apply(assign_tags, axis=1)

In [39]:
summary

,total_roles,remote_roles,unique_departments,product_roles,pm_roles,Customer Support,Data,Design,Engineering,Finance,HR,Legal,Marketing,Operations,Other,Product,Sales,Strategy,growth_tags
company_name,,,,,,,,,,,,,,,,,,,
CRED,4,0,3,0,0,0,0,0,0,0,0,0,1,2,0,0,0,1,None
Chargebee,5,1,3,1,1,1,0,0,0,0,0,0,1,0,0,0,3,0,"GTM Team Expansion, New Product Buildout"
Drip Capital,14,0,5,0,4,0,0,0,0,1,0,5,0,3,4,0,0,1,Company-Wide Scaling
Groww,9,0,5,0,3,0,1,0,2,3,0,1,0,0,2,0,0,0,Company-Wide Scaling
Meesho,15,0,3,0,8,0,0,0,1,2,0,0,0,12,0,0,0,0,None
Paytm,40,0,11,3,16,0,1,1,1,4,1,4,1,6,2,1,18,0,"GTM Team Expansion, New Product Buildout, Comp..."
Razorpay,33,0,10,6,13,2,1,0,1,1,1,1,2,0,7,12,5,0,"GTM Team Expansion, New Product Buildout, Comp..."
Urban Company,17,0,3,0,13,0,1,0,1,0,0,0,0,15,0,0,0,0,None
Yellow.ai,7,1,1,0,3,0,0,0,0,0,0,0,0,0,7,0,0,0,None
Zolve,8,0,4,1,1,0,0,0,0,0,0,1,0,3,3,1,0,0,"New Product Buildout, Company-Wide Scaling"

In [40]:
summary.to_csv("Cleaned_data_with_tags.csv")